* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: black;
}

section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sectionTitle{
  font-size: 3rem;
  padding: 15px 0;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color:white;
}

.sectionText{
  font-size: 2rem;
}


/* NavBar */

.navbar{
  padding: 2rem;
}

.navbar-collapse{
  align-items: center;
  justify-content: space-between;
}

.nav-item a:hover{
  text-decoration: underline 5px;
}

/* sección Hero */
.fondoHero{
  background-image: url(../images/bkgs/Home.png);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
}

/* sección sectionDark */
.sectionDark{
  background-image: url(../images/bkgs/bkg2.png);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
  color:white ; 
}

/* aboutUs */
.aboutUs{
  height: 500px;
  padding: 10px;
}

.aboutUs .contenedor{
  max-width: 600px;
  text-align: center;  
}

/* services */
.servicios{
  padding: 40px;
}

.servicios img{
  height: 100%;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  display: block;
  transition: all 0.2s ease;
}

.serviciosContenedor{
  padding-top: 60px;
  margin-bottom: 40px;
}

.overlay{
  transition: all 0.2s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay a{
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0;
}

.tech{
  position: relative;
}

.tech:hover .overlay{
  opacity: 1;  
}

.tech:hover img{
  opacity: 0.2;
}

/* contacto */
.fondoContact{
  background-image: url(../images/bkgs/contactbkg.png);
  height: 90vh;
  background-position: center;
  background-repeat: no-repeat;    
  background-size: cover;
}

.sectionContact {
  color: white;
  text-align: center;
}

.container{
  width: 60%;
  padding: 60px;  
  border-radius: 1;  
}

.row{
  box-shadow: rgba(99,99,99,0.2)0px 2px 8px 0px;
}

.col-md-7{
  padding: 40px;  
}

.col-md-5{
  background-color: #114b7b72;
  padding: 40px;  
}

.form-control{
  height: 52;
  background: #fff;
  color: #000;
  font-size: 14px;
  border-radius: 2px;
  box-sizing: none! important;
  border: 2px solid rgba(2, 2, 2, 0.258);
}

.bi{
  font-size: 20px;
}

.d-flex p{
  font-size: 18px;
  padding-left: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* footer */
.proyectFooter{
  padding: 10px;
  margin: 20px;
  color: white;
}

.proyectFooter img{
  height: 48px;
  width: 110px;
  margin: 10px;
}

.linksFooter{
  padding: 60px;    
}

.linksFooter a{
  color: white;
  padding: 10px;  
  display: flex;
  justify-content: center;
}


.iconosRedes a{
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 10px;
  border: 2px solid white;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.iconosRedes a:hover{
  background-color: white;

}

.iconosRedes{
  padding: 50px;
}

.rights{
  font-size: 15px;
  color: #aeaeae;
  padding: 20px;
} 


/* mediasQ */
@media screen and (max-width:767px) {
  .navbar-brand{
    display: none;
  }
}

@media screen and (max-width:400px) {
  .overlay a{
    font-size: 18px;
  }
}
