* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: black;
}

section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sectionTitle{
  font-size: 3rem;
  padding: 15px 0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.sectionText{
  font-size: 2rem;
}

.sectionSrv{
  color: white;
}
/* NavBar */

.navbar{
  padding: 2rem;
}

.navbar-collapse{
  align-items: center;
  justify-content: space-between;
}

/* sección Hero */
.fondoHero{
  background-image: url(../images/bkgs/Home.png);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
}

/* sección sectionDark */
.sectionDark{
  background-image: url(../images/bkgs/bkg2.png);
    height: 85vh;
    background-position: center;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
  color:white ; 
}

/* aboutUs */
.aboutUs{
  height: 500px;
  padding: 10px;
}

.aboutUs .contenedor{
  max-width: 600px;
  text-align: center;  
}

/* services */
.services{
  padding: 20px 20px 40px 20px;
}

.services .columna{
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.2s ease-in;
}

.services .columna:hover{
  transform: scale(1.2);
}

.servicesTitle{
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0;
}

.imgSrv{
  height: 250px;
}

/* contacto */
.fondoContact{
  background-image: url(../images/bkgs/contactbkg.png);
  height: 85vh;
  background-position: center;
  background-repeat: no-repeat;    
  background-size: cover;
}

.sectionContact {
  color: white;
  text-align: center;
}

.container{
  width: 60%;
  padding: 60px;
  border-radius: 0;  
}

.row{
  box-shadow: rgba(99,99,99,0.2)0px 2px 8px 0px;
}

.col-md-7{
  padding: 40px;
}

.col-md-5{
  background-color: #114c7b;
  padding: 40px;
}

.form-control{
  height: 52;
  background: #fff;
  color: #000;
  font-size: 14px;
  border-radius: 2px;
  box-sizing: none! important;
  border: 2px solid rgba(2, 2, 2, 0.1);
}

.bi{
  font-size: 20px;
}

.d-flex p{
  font-size: 18px;
  padding-left: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* footer */

.footer{
  height: 500px;  
  padding: 20px;
  color: #aeaeae;
  
}



.iconosRedes a{
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 10px;
  border: 2px solid white;
  border-radius: 50%;
}

.iconosRedes{
  padding: 50px;
}

.rights{
  font-size: 15px;
  color: #aeaeae;
  padding: 20px;
}


/* mediasQ */
@media screen and (max-width:767px) {
  .navbar-brand{
    display: none;
  }
}

